.cardComponent{
    @apply flex m-auto shadow-lg p-2 rounded-lg my-8 w-11/12;
}

.cardDescription{
    @apply ms-3 pr-1 w-full;
}

.cardHead{
    @apply flex;
}

.cardIcons{
    @apply flex lg:space-x-12 my-2 md:space-x-8 space-x-4;
}

.img{
    border-radius: 50%;
    width: 80px;
    height: 50px;
}

@media (max-width: 767px){
    /* .imgDiv{
        width: 20%;
    } */
}
